.chatPage{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: end;

  ul, ol {
    list-style-type: disc;
    margin-bottom: 1em;
    padding-left: 1.625em;
  }

  .wrapper{
    width: 100%;
    overflow-y: auto;
    /* height: calc(100vh - 55px); */


    .chat{
      display: flex;
      flex-direction: column;
      gap: 20px;

      p,li{
        margin: 10px 0px;
      }

      .message{
        padding: 10px 20px;

        &.user{
          background-color: #2c2937;
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-end;
        }
      }
    }
  }
}


.wrapper::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: #2c2937; /* Background color of the scrollbar track */
  height: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.253); /* Color of the scrollbar thumb */
  border-radius: 1px; /* Border radius of the scrollbar thumb */
}
